# Env
.env

# Large files
*.gpkg
*.zip
*.csv
*.sql.gz*
postgres_data/

# Go binaries
bin/
map-service/map-service
auth-service/auth-service

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
